*.swp
*~
.*.haste_cache.*
.DS_Store
.secrets
*.log

node_modules/
coverage/
.nyc_output
dist/
esm/
out/
*.vsix
*.tsbuildinfo

yarn.lock

yarn-1.18.0.js
*.orig
.idea/

# Local Netlify folder
.netlify/

examples/*/yarn.lock
package-lock.json
.eslintcache
.cspellcache

vite.config.d.ts
vite.config.js

.next/
.turbo/